.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: white;

    @include phone-size {
        height: auto;
        min-height: 50px;
    }

    @import "__content/header__content.scss";
    @import "__mobileBtn/header__mobileBtn.scss";
}