$color-black: #050505;
$color-blue: #435993;
$color-grey: #E6E6E6;

//Fonts-size
$font-70: 10rem;
$font-30: 4.2857rem;
$font-24: 3.4286rem;
$font-20: 2.8571rem;
$font-16: 2.2857rem;
$font-14: 2rem;
$font-10: 1.4286rem;