.about__text {
    margin-bottom: 70px;
    
    .about__text-area {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        min-height: 180px;
        height: 100%;
        max-height: 180px;
        padding: 20px;
        font-family: Roboto-Regular;
        font-size: $font-20;
        line-height: 23px;
        color: $color-black;
        border: none;
        background: none;
        outline: none;

        &::placeholder {
            color: $color-grey;
        }
    }
}